/* Global Styles */
body {
    font-family: Verdana, sans-serif;
    background-color: white;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1em
}

/* Header Styles */
header {
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
}

.logo img {
    height: 4em;
    margin-left: 2em;
    vertical-align: middle;
}

nav ul {
    list-style-type: none;
    text-align: left;
    padding-left: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 1em;
    background-color: white;
}

nav ul li a {
    color: #260202;
    text-decoration: none;
    font-size: 1em;
}

nav a:hover {
    color: purple;
    text-shadow: .1em .1em .5em rgba(128, 0, 128, 0.5);
}

/* Sous Menu Nav */
.sous {
    display: none;
    position: absolute;
    background-color: inherit;
    min-width: none;
    box-shadow: 0px 0.5em 1em 0px rgba(235, 9, 216, 0.2);
    z-index: 1;
}

.sous a {
    color: black;
    padding: 1em 1em;
    text-decoration: none;
    display: block;
}

.sous li {
    width: 100%;
}

.sous li:hover {
    background-color: lightblue;
}

.deroulant:hover .sous {
    display: block;
}

.deroulant > a::after {
    content: " ▼";
    font-size: 0.8em;
}

/* Main Styles */
main {

}

.main-intro {
    background-image: url("images/main-intro-back.png");
    background-position: top center;
    background-size: cover;
}

.main-intro h1,
.main-intro h2,
.main-intro p {
    display: flex;
    justify-content: right;
    color: blueviolet;
    text-align: center;
    margin: 0;
    text-shadow: 0em 0.1em 0.8em blue;
}

.main-intro h1 {
    padding-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.main-intro h2 {
    margin: 1em;
    line-height: 2.5em;
}

.main-intro p {
    margin-right: 3em;
    margin-left: 3em;
    padding-bottom: 2em;
    font-size: 1.5em;
}

/* Footer Styles */
footer {
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid;
}

footer .reseaux a {
    margin-right: .5em;
    margin-left: .5em;
}